{% extends 'partials/base.html' %}

{% block content %}
  <div class="password-reset-container">
    <h2 class="password-reset-title">Reset Your Password</h2>

    <form class="password-reset-form" method="post">
      {% csrf_token %}
      <input type="hidden" name="uidb64" value="{{ uidb64 }}">
      <label class="password-reset-label" for="new_password">Enter New Password:</label>
      <input class="password-reset-input" type="password" id="new_password" name="new_password" required>

      <button class="password-reset-button" type="submit">Reset Password</button>
    </form>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endblock %}